<% layout("/layouts/boilerplate") -%>

<body>
  <div class="container mt-5">
    <div class="row">
      <% for (let list of lists) { %>
        <div class="col-3 mb-4"> 
          <a href="/<%= list._id %>" class="text-decoration-none"> 
            <div class="card h-100"> 
              <img src="<%= list.image.url %>" class="card-img-top" alt="Image">
              <div class="card-body">
                <h5 class="card-title"><%= list.title %></h5>
                <p class="card-text"><%= list.location %></p>
                <p>&#8377;<%= list.price.toLocaleString("en-IN") %>/night</p>
              </div>
            </div>
          </a>
        </div>
      <% } %>
    </div>
  </div>
</body>
